<a href="#" class="list-group-item clearfix" (click)="isClick($event)">
        <div class="pull-left">
            <h4 class="list-group-item-heading" > {{ Receipe .name }} </h4>
            <p class = "list-group-item-text">{{Receipe.description}}</p>
        </div>
        <span class="pull-right">
            <img 
            src = "{{Receipe.image}}"
            alt = " {{Receipe.name}}" 
            class="image-responsive" 
            style="min-height: 50px ;">
        </span> 

    </a>