<div class="row">
    <div class="col-xs-12">
        <img src="{{Receipe.image}}" alt="{{Receipe.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{Receipe.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group "  appDropDown>
        <button
        type = "button"
        class = "btn btn-primary dropdown-toggle"> Manage Receipe
        <span class="caret"></span>
        </button>
        <ul class = "dropdown-menu ">
            <li><a  (click)="itemToShoppingList()" style = "cursor: pointer;">To Shopping List</a></li>
            <li><a style="cursor: pointer;" >Edit Receipe</a></li>
            <li><a style="cursor: pointer;" >Delete Receipe</a></li>
        </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{Receipe.description}}</h4>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12">
        <h4>{{Receipe.name}}</h4>
    </div>
</div> -->
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
          <li class = "list-group-item"
          *ngFor="let ingredientDis of Receipe.ingredients">{{ingredientDis.name}} - {{ingredientDis.amount}}

          </li>
        </ul>
    </div>
</div>
